#login {
    background: #ffffff;
    /*background: #1c2627 url("../images/login_bg.png") no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    #login .scroll-content {
        display: table !important;
        width: 100% !important;
        height: 100% !important;
    }

        #login .scroll-content form {
            display: table-cell;
            vertical-align: top;
            padding-top: 25px;
        }

            #login .scroll-content form .header {
                padding-bottom: 20px;
            }

                #login .scroll-content form .header img {
                    display: block;
                    width: 125px;
                    height: 90px;
                    margin: 0 auto;
                }

            #login .scroll-content form .button.button-light.active, #login .scroll-content form .button.button-light.activated {
                color: #fff;
                opacity: inherit;
            }

.eventForm .scroll-content {
    /*background: #e9e9e9;*/
}

.eventForm .eventTab .col div.tabtext {
    background: #fff;
    padding: 20px 0 20px;
    min-height: 150px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #0a9dc7;
}

    .eventForm .eventTab .col div.tabtext i {
        font-size: 60px;
        color: #11c1f3;
    }

    .eventForm .eventTab .col div.tabtext h3 {
        margin: 25px 0 0 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: #515151;
        font-size: 18px;
    }

    .eventForm .eventTab .col div.tabtext.activated, .eventForm .eventTab .col div.tabtext.active {
        background: #1773ba;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

        .eventForm .eventTab .col div.tabtext.activated h3, .eventForm .eventTab .col div.tabtext.activated i, .eventForm .eventTab .col div.tabtext.active h3, .eventForm .eventTab .col div.tabtext.active i {
            color: #fff;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

.eventForm .btnSubmit {
    margin: 0 !important;
}

.eventForm {
    /*background: #e9e9e9;*/
}

    .eventForm .bar.bar-footer {
        background: none;
        border: none;
        height: 64px;
        padding: 5px 10px;
    }

        .eventForm .bar.bar-footer div {
            display: block;
            padding: 0;
            width: 100%;
        }

.header-badge {
    top: -37px !important;
    right: -11px !important;
}

.tabs-top.subheader > .tabs {
    top: 90px;
}

/*ionic table*/
.header .col {
    background-color: lightgrey;
}

.table-col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

    .table-col:last-child {
        border-right: solid 1px grey;
    }

.row:last-child .table-col {
    border-bottom: solid 1px grey;
}
