<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.2.204;Initial Catalog=EcoplastERP;User ID=perfect;Password=Prf12;Persist Security Info=True;"/>
    <!--<add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=EcoplastERP;User ID=perfect;Password=Prf12;Persist Security Info=True;" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EcoplastERP;Integrated Security=SSPI;Pooling=false;" />-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
