<ion-view id="contactanalysis" view-title="Müşteri Satış Analizi">
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Ara" ng-model="search.Name">
        </label>
    </ion-header-bar>
    <ion-content padding="true">
        <ion-refresher pulling-text="Yenilemek için bırak..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item class="item-icon-right" collection-repeat="item in data | filter:search" ng-click="openModal(item)">
                <h2><b>{{ item.Name }}</b></h2>
                <p>{{ item.TLTotal | number:2 }} ₺</p>
                <p>{{ item.USDTotal | number:2 }} $</p>
                <p>{{ item.EURTotal | number:2 }} €</p>
                <i class="icon ion-ios-arrow-up"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>