<ion-view id="home" view-title="Ana Sayfa">
    <ion-content padding="false" scroll="false">
        <ion-list>
            <div class="row" style="padding: 5px;">
                <div class="col-50 card card-background-page" ng-click="go('productmenu')">
                    <br />
                    <i class="icon ion-soup-can-outline full-image"></i>
                    <div class="card-subtitle">MALZEME YÖNETİMİ</div>
                </div>
                <div class="col-50 card card-background-page" ng-click="go('shippingmenu')">
                    <br />
                    <i class="icon ion-filing full-image"></i>
                    <div class="card-subtitle">SEKİYAT YÖNETİMİ</div>
                </div>
            </div>
            <div class="row" style="padding: 5px; padding-top: 5px;">
                <div class="col-50 card card-background-page" ng-click="go('salesmenu')">
                    <br />
                    <i class="icon ion-compose full-image"></i>
                    <div class="card-subtitle">SATIŞ YÖNETİMİ</div>
                </div>
                <div class="col-50 card card-background-page" ng-click="go('productionmenu')">
                    <br />
                    <i class="icon ion-clipboard"></i>
                    <div class="card-subtitle">ÜRETİM YÖNETİMİ</div>
                </div>
            </div>
            <!--<div class="row" style="padding: 0px; padding-top: 5px;">
                <div class="col-50 card card-background-page" ng-click="go('purchasemenu')">
                    <br />
                    <i class="icon ion-link full-image"></i>
                    <div class="card-subtitle">SATIN ALMA YÖNETİMİ</div>
                </div>
                <div class="col-50 card card-background-page" ng-click="go('ikmenu')">
                    <br />
                    <i class="icon ion-person-stalker full-image"></i>
                    <div class="card-subtitle">İK YÖNETİMİ</div>
                </div>
            </div>-->
        </ion-list>
    </ion-content>
</ion-view>