<ion-view id="productionmenu" view-title="Üretim Yönetimi">
    <ion-content padding="false" scroll="false">
        <ion-list>
            <ion-item class="item-divider">
                <small>Rapor Tipi Seçiniz...</small>
            </ion-item>
            <a class="item item-icon-right" href="#/tab/machineloadmain">
                <h2>Makine Yükleri</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/productionmain">
                <h2>Üretim ve Fire Raporları</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <!--<a class="item item-icon-right" href="#/tab/machinestopactive">
                <h2>Aktif Duruşlar</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/machinestopended">
                <h2>Bitmiş Duruşlar</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>-->
        </ion-list>
    </ion-content>
</ion-view>