<ion-view id="productgroup" view-title="Ürün Grubu">
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Ara" ng-model="search.Name">
        </label>
    </ion-header-bar>
    <ion-content padding="true">
        <ion-refresher pulling-text="Yenilemek için bırak..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item class="item-icon-right" collection-repeat="item in data | filter:search" ng-click="go(item.Oid)">
                <h2>{{ item.Name }}</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>