<ion-view id="salesmenu" view-title="Satış Yönetimi">
    <ion-content padding="false" scroll="false">
        <ion-list>
            <ion-item class="item-divider">
                <small>Rapor Tipi Seçiniz...</small>
            </ion-item>
            <a class="item item-icon-right" href="#/tab/contactanalysis">
                <h2>Müşteri Satış Analizi</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/productgroup">
                <h2>Ürün Satış Analizi</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/waitingordermain">
                <h2>Bekleyen Siparişler</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-view>